<%- layout("/layouts/boilerplate.ejs") %>
    <div class="row mt-3">
        <div class="col-8 offset-2">

            <body>
                <h3>
                    Create New Listing
                </h3>
                <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data" >
                    <div class="mb-3">
                        <label for="title" class="form-level">Title</label>
                        <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required />
                        <div class="valid-feedback">Title looks good!</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-level">Enter Description</label>
                        <textarea name="listing[description]" placeholder="enter description"
                            class="form-control" required></textarea>
                            <div class="invalid-feedback">Enter a short description</div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-level">Upload Image</label>
                        <input name="listing[image]"  type="file" class="form-control" required/>
                        <div class="invalid-feedback">Please upload an image</div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-level">Enter Price</label>
                            <input name="listing[price]" placeholder="1200"  class="form-control" required />
                            <div class="invalid-feedback">Please enter a valid price</div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-level">Enter Country</label>
                            <input name="listing[country]" placeholder="India" type="text"
                                class="form-control" required/>
                                <div class="invalid-feedback">Country name should be valid</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-level">Enter Location</label>
                        <input name="listing[location]" placeholder="Jaipur,Rajasthan" type="text" class="form-control" required />
                        <div class="invalid-feedback">Location should be valid</div>
                    </div>

                
                    <button class="btn btn-dark add-btn mt-3">Add</button>
                </form>
                
            </body>
        </div>
    </div>